* {
	margin:0;
	padding:0;	
}

body {
	font-family: 'Crimson Text', sans-serif;
	
}

a {
	color: #336699;
	text-decoration: none;
}

header,
section {	
	display: block;
	margin: 30px auto;
	width: 825px;
}

/** NAVIGATION **/

nav {	
	background-color: #FD7D00;
	height: 70px;
	min-width: 100%;

}

nav img {
	margin: 5px 5px;
	padding: 5px 5px;
}


nav ul {
	float: right;
	list-style:  
}

nav li {
	display: inline-block;
	margin: 25px 5px;
	padding: 5px;

	}

nav a{
	color: #FFF;
	text-decoration: none;
	text-tranform: uppercase;
}

/* Form */

form {
	float: right;
	height: 0 20px;
	background-color: F0F0EE;

	}

form input {

}

.orange-wrapper {
	color: #222222;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	height: 385px;
	line-height: 27px;
	width: 45%;


}

/* Footer */

footer {

	background-color: #7ACCC8;
	height: 70px;
	min-width: 100%;

}


[placeholder]

fa-search

}
#cta> div: first-child {
	width: ?;
	float: left;
}


#cta> div: last-child {
	width: ?;
	float: left;
}

#cta button: first
